
.TrafficSources{
    
    height: 220px;
    width: 35vw;
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
  }

.inner-block{
    display: flex;
    background-color: rgb(227, 224, 224);
    border-radius: 20px;
    padding: 5px;
    width: 350px;
    height: 20px;
}

.inner-data{
    margin: 6px 60px 0px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #989898;
    

}

.pie-chart{
    height: 100px;
    width: 100px;
}

.inner-pie-data{
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin-top: 5px;

}

.shade-direct{
    height: 15px;
    width: 20px;
    background-color: #e17cfc;
}

.shade-search{
    height: 15px;
    width: 20px;
    background-color: #4bd6f5;
}

.input{
    height: 15px;
    width: 35px;
}

.dataAndpie{
    display: flex;
    justify-content: space-around;
}

.inner-pie-data-cointainer{
    display: block;
    
}
