.inner-header{
    margin-top:-590px ;
    margin-left:200px ;
    height: 50px;
    width: 85%;
    display: flex;


}

.Statistic-days{
    margin-left: 550PX;


}

.Statistic-days button{
    margin-right: 30PX;
    background-color: #f9f6f6;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    font-size: medium;
    font-family:'Franklin Gothic Medium';


}

.Statistic-days button:hover{
    cursor: pointer;
    background-color: #d3d3d3;
    height: 36px;

}